{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block body %}
<ul>
    <li><a href="/" title="Home Section">Home</a></li>
    <li><a href="/calc" title="Breakdown Section">Breakdown</a></li>
    <li><a href="/about" title="About Section">About</a></li>
</ul>
<div class="title">Inflation Breakdown</div>
<form id="form" oninput="save()">
<label for="inValue">€ amount in 2015</label>
<input type="number" min="1" name="inValue" id="inValue">
</form>
<div><span id="inputVar"></span> € in 2015 is <span id="outputVar"></span>€ today</div>
<div>This is a loss of 27.9% of purchasing power in 10 years</div>
{% endblock %}