{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<ul>
    <li><a href="/" title="Home Section">Home</a></li>
    <li><a href="/calc" title="Calculator Section">Calculator</a></li>
    <li><a href="/about" title="About Section">About</a></li>
</ul>
<div class="title">Inflation Calculator</div>
<div>100€ in 2015 is € today</div>
<div>The average food prices increased by %</div>
<div>The average housing prices increased by %</div>
<div>The average healthcare service prices increased by %</div>
{% endblock %}